# Compiled source #
*.o
*.so
# OS generate files #
.DS_Store
.DS_Store?
._*
Thumbs.db
# vi file #
*.swp
# ROOT file #
*.root
# zipped file #
*.tgz
*.tar.gz
*.gz
# python file #
*.pyc
# root file #
*.root
user.yushen.*
